@import url('https://fonts.googleapis.com/css2?family=Elsie&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'roboto', sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    color: #faf9f6;
}

/* landing page */
.landing-container {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/barra_barista_counter.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
}

/* headings and logo */
h1,
h2 {
    font-family: 'Elsie', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
}

.logo {
    width: 50%;
    display: flex;
    align-self: center;
}

.logo h1 {
    line-height: 100px;
    padding-left: 65px;
    font-size: 250%;
}

.logo a {
    text-decoration: none;
}

/* navigation links */
.menu-navbar {
    width: 50%;
    display: flex;
    align-self: center;
}

.menu-navbar ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.menu-navbar li {
    font-size: 120%;
    font-weight: 150;
    text-transform: uppercase;
    list-style-type: none;
}

.menu-navbar a {
    color: #fff;
    text-decoration: none;
}

#intro {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

#intro>p {
    font-size: 200%;
    letter-spacing: 6px;
    font-family: 'Elsie', sans-serif;
    font-weight: 300;
}

#intro>img {
    width: 450px;
}

/* header */
#header-container {
    height: 30vh;
    width: 100%;
    background: url("../images/barra_barista.jpg") no-repeat center center;
    background-size: cover;
}

.page-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
}

.page-name h2 {
    width: 100%;
    font-size: 400%;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

/* about us */
#about-us-content {
    display: flex;
    height: 50vh;
}

#about-us-content>div {
    margin-left: 0 auto;
    padding: 50px;
    font-size: 30px;

    max-height: inherit;
    max-width: 50%;
}

#about-us-content>div>img {
    height: fit-content;
    max-width: 50%;
    margin-right: 20%;
}

/* footer */
footer {
    height: 10vh;
    width: 100%;
    text-align: center;
    padding: 1em;
    font-size: 150%;
    margin: 0 auto;
}

footer>a {
    padding: 2%;
    color: #f5fffa;
}

/* For screen sizes from 1250px wide and down */
@media screen and (max-width: 1250px) {
    .logo {
        width: 50%;
    }

    .logo h1 {
        line-height: 75px;
        padding-left: 40px;
        font-size: 175%;
    }

    .menu-navbar {
        justify-content: flex-end;
    }
    
    .menu-navbar ul{
        width: auto;
        margin-right: 10px;
    }

    #intro>p {
        font-size: 100%;
        font-weight: 300;
    }

    #intro>img {
        width: 350px;
    }  
}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {
    .logo {
        width: 50%;
    }

    .logo h1 {
        line-height: 50px;
        padding-left: 20px;
        font-size: 150%;
    }

    .menu-navbar ul{
        width: auto;
    }

    #intro>p {
        font-size: 100%;
        font-weight: 300;
    }

    #intro>img {
        width: 300px;
    }  
}